@font-face {
    font-family:roboto-regular;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family:roboto-bold;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family:roboto-thin;
    src: url("../fonts/Roboto-Thin.ttf");
}

html,body{
    font-family: roboto-regular;
    padding: 0;
    margin: 0;
}
